* {
  box-sizing: border-box;
}

.page {
  font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif!important;
  font-size: 16px;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
  text-align: center;
}

.button {
  font-size: 1em;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.button-noscript {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #5d80a6;
  background-color: #ffffff;
  margin: 20px auto;
}

.dialog {
  position: relative;
  width: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
  text-align: left;
}

.dialog__head,
.dialog__footer {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

.dialog__head {
  -webkit-align-items: center;
  align-items: center;
  top: 0;
  background-color: #5d80a6;
  color: #ffffff;
  padding: 4px 12px;
  z-index: 2;
}

.dialog__footer {
  bottom: 0;
  background-color: #ffffff;
  border-top: 1px solid #edeef0;
}

.no-fixed-supported .dialog__head,
.no-fixed-supported .dialog__footer {
  position: absolute;
}

.dialog__name {
  font-weight: 600;
}

.dialog__avatar,
.message__avatar {
  width: 41px;
  height: 41px;
  max-width: 41px;
  margin: 0 9px 0 0;
  box-sizing: content-box;
}

.message__avatar {
  flex: 1 0 auto;
  align-self: flex-start;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.dialog__body {
  flex: 1 0 auto;
  margin: 49px 0 74px 0;
}

.dialog__actions {
  display: none;
  position: relative;
  height: 74px;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  color: #777777;
  padding: 9px 15px 7px 15px;
}

.message {
  position: relative;
  padding: 8px 12px;
  margin: 1px 0;
  cursor: pointer;
}

.message-check:before {
  content: '';
  position: absolute;
  top: 18px;
  right: 12px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url(https://vk.com/images/icons/msg_check_2x.png);
}

.message-check {
  background: #edf0f5;
}

.message__content {
  display: flex;
  align-items: flex-start;
  min-height: 41px;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.message__name {
  position: relative;
  justify-content: flex-start;
}

.content__text {
  word-break: break-word;
}

.content__preview {
  max-width: 310px;
  border: 1px solid #777777;
  text-decoration: none;
  margin: 12px 0 0 0;
  z-index: 1;
}

.preview__img {
  height: 140px;
  background-size: cover;
  background-repeat: no-repeat;
}

.preview__body {
  background-color: #ffffff;
  padding: 10px 12px;
}

.preview__text {
  font-size: 0.9em;
  line-height: 1.3em;
  color: #777777;
}

.preview__head {
  font-size: 0.9em;
  line-height: 1.3em;
  font-weight: 600;
  color: #000000;
}

.head__name {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #4c6b8f;
  text-decoration: none;
  margin: 0 12px 0 0;
}

.head__name:hover {
  text-decoration: underline;
}

.head__time {
  font-size: 0.8em;
  color: #777777;
  vertical-align: top;
}

.dialog__input {
  height: 45px;
  display: none;
  padding: 0 15px;
  z-index: 1;
}

.input {
  width: 100%;
  height: 100%;
  font-size: 1em;
  padding: 12px 0;
  border: 0;
  outline: 0;
  resize: none;
}

.button-sent {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%22493%2020%2024%2024%22%3E%3Cdesc%3E%20Created%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20fill%3D%22none%22%3E%3Crect%20x%3D%22493%22%20y%3D%2220%22%20width%3D%2224%22%20height%3D%2224%22%2F%3E%3Cpath%20d%3D%22M499.3%2033.6C498.7%2035.2%20497.8%2037.6%20497.5%2038.9%20497%2041%20496.7%2041.5%20498.5%2040.5%20500.3%2039.5%20509%2034.5%20511%2033.4%20513.5%2031.9%20513.5%2032%20510.8%2030.5%20508.8%2029.3%20500.1%2024.4%20498.5%2023.5%20496.8%2022.5%20497%2023%20497.5%2025.1%20497.8%2026.4%20498.7%2028.8%20499.3%2030.3L506.8%2032%20499.3%2033.6Z%22%20fill%3D%22%23828A99%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
  background-size: 25px;
  padding: 0;
}

.actions {
  flex-wrap: wrap;
  font-size: 0.9em;
  line-height: 1em;
  margin: -7px 0 0 -7px;
}

.action {
  min-width: 35px;
  color: #ffffff;
  background-color: #5d80a6;
  border-radius: 2px;
  padding: 7px 8px;
  margin: 7px 0 0 7px;
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.action-remove {
  background-image: url(https://vk.com/images/mobile/icons/remove.png);
}

.action-flagged {
  background-image: url(https://vk.com/images/mobile/icons/star_white.png);
}

.button-close {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 12px;
  height: 12px;
  background: url('data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%209%209%22%3E%3Cpath%20d%3D%22M5.9%204.5l2.8-2.8c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200l-2.8%202.8-2.8-2.8c-.4-.4-1-.4-1.4%200-.4.4-.4%201%200%201.4l2.8%202.8-2.8%202.8c-.4.4-.4%201%200%201.4.4.4%201%20.4%201.4%200l2.8-2.8%202.8%202.8c.4.4%201%20.4%201.4%200%20.4-.4.4-1%200-1.4l-2.8-2.8z%22%20fill%3D%22%2391A4B8%22%2F%3E%3C%2Fsvg%3E') no-repeat;
  background-size: 12px;
}

.dialog,
.dialog__head,
.message,
.active,
.message__content,
.actions,
.message__name {
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
}

@-moz-document url-prefix() {
 .input {
   font-family: -apple-system,BlinkMacSystemFont,Roboto,'Segoe UI','Segoe WP','Helvetica Neue','Lucida Grande',Verdana,Tahoma,Arial,sans-serif!important;
 }
}

@media only screen and (max-width: 360px) {
  .dialog__body {
    margin: 49px 0 110px 0;
  }

  .dialog__actions {
    height: 110px;
  }

  .head__name {
    max-width: 120px;
  }
}

@media only screen and (max-width: 260px) {
  .head__name {
    max-width: 90px;
  }
  .message__name {
    width: 100%;
    justify-content: space-between;
    margin: 0 0 30px 0;
  }

  .content__text {
    margin: 0 0 0 -50px;
  }

  .content__preview {
    margin: 0 0 0 -50px;
  }

  .message-check:before {
    top: 40px;
    z-index: 0;
  }
}
